/* *********************** */


/* GENERAL MOCKUP STYLING */

@font-face {
  font-family: wayoshi;
  src: url("wayoshi.ttf");
}

:root {
  --wario-yellow: #F5E72F;
}

.bg-teal {
  background-color: var(--teal);
}

.bg-purple {
  background-color: var(--purple);
}

.bg-wario-yellow {
  background-color: var(--wario-yellow);
}

.text-wario-yellow {
  color: var(--wario-yellow);
}

.btn-purple {
  color: #fff;
  background-color: var(--purple);
  border-color: var(--purple);
}

.btn-purple:hover {
  color: var(--wario-yellow);
  background-color: #6f4288;
  border-color: var(--wario-yellow);
}

#logo {
  max-height: 70px;
}

h1 {
  font-family: wayoshi;
  font-size: 1.8em;
  color: var(--purple);
}

body {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-image: url("../img/diagmonds.png");
}

.text-linethrough {
  text-decoration: line-through;
}

h1 .text-linethrough {
  font-size: 0.75em;
}

#start {
  height: 30vh;
}

#start button {
  width: 30%;
  height: 30%;
}

#playfield {
  background-color: rgba(0, 0, 0, 0.466);
}

.modal-body img {
  width: 100px;
  height: 100px;
}


/* *********************** */


/* CONTROLS  */

canvas {
  border: 1px solid #d3d3d3;
  /* background-image: url("../img/desert.png"); */
  background-color: rgba(137, 43, 226, 0.233);
  background-size: contain;
}

#controls {
  height: 22vh;
}